.adiv{
	height: 60px;
	background-color: red;
}
.bdiv{
	height: 60px;
	background-color: blue;
}
.cdiv{
	height: 60px;
	background-color: pink;
}
.ddiv{
	height: 60px;
	background-color: green;
}
.ediv{
	height: 60px;
	background-color: gray;
}
.fdiv{
	height: 60px;
	background-color: yellow;
}
