html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif; 
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;	
}

li{
	list-style: none;
}

p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}

/*--------------------------------------------------- navbar ----------------------------------------------------*/
.drug-logo img{
	width: 180px;
	height: 40px;
}

.navbar{
	background: #f2f2f2!important;	
	display: flex;
	position: relative;
	align-items: center!important;
	justify-content: space-between;
}

.nav-item a{
	font-weight: bold;
}

.nav-ul button{
	border-color: #242424!important;
	color: black!important;
}

.nav-ul button:hover{
	background: #f2f2f2;
}

/*--------------------------------------------------- Find drugs header ----------------------------------------------------*/
.find-drugs{
	background: #f2f2f2;
	padding: 60px 0;
	width: 100%;
	height: auto;
}

.find-drugs h1{
	font-family: 'Libre Caslon Text', serif; 
}

.drug-input{
	border-radius: 100px!important;
	min-width: 150px;
	min-height: 45px;
}

.input-group-text{
	color: #fff!important;
	background-color: #5bc0de!important;
	border-radius: 0 100px 100px 0!important;
	min-width: 120px;
	min-height: 42px;
}

.input-group a{
	color: #b3b3b3;
	margin-top: 12px;
	margin-left:-30px;
	z-index: 1; 
}

.form-footer{
	font-size: 12px;
}

/*--------------------------------------------------- carousel ----------------------------------------------------*/

.box img{
	margin-top: 20px;
	height: 40%;
	width: 40%;
	border-color: #ffffff!important;
}

.indicators i{
	padding-left: 100px;
	padding-right: 100px;
	color: black!important;	 
	z-index: 1;
}

/*--------------------------------------------------- Search drugs ----------------------------------------------------*/
.list-abc li{ 
	display: inline-block;
    align-items: center;
    justify-content: center;
}	

.list-abc li a{
	background-color: #f0f0f0;
    color: #242424;
    min-width: 100%;
    min-height: 38px;
    border-radius: 4px;
    text-align: center;
}
/*--------------------------------------------------- Three div section ----------------------------------------------------*/

.news-cards{
	background: #f2f2f2;
	padding: 60px 0;
	width: 200%;
	height: auto;
}
.card{
	height: 100%;
}

.card:hover{
	cursor: pointer;
}
/*---------------------------------------------------  main info ----------------------------------------------------*/
.item img{
	width: 200px;
	height: 200px;	
}
.item p{
	display: inline;
}
.user-block{
	background: #f2f2f2;
	height: 225px;
	text-align: center;
	border-radius: 10px;
}

.user-img i{
	font-size: 4rem;
	margin: 1rem;
	background: #b3b3b3;
	width: 75px;
	height: 75px;
	border-radius: 100%;
	padding-top: 5px;
}


/*---------------------------------------------------  Mobile app ----------------------------------------------------*/

.mob-app{
	background: #f2f2f2;
	padding: 60px 0;
	width: 200%;
	height: auto;	
}

/*---------------------------------------------------  Footer ----------------------------------------------------*/
footer{
	padding-top: 2rem;	
}

.logo img{
	height: auto;
	max-width: 100%;
	padding-top: 25px; 
}
















