body{
	font-family: 'Playfair Display', serif!important;
}

/*-----------------------------------------------navbar-------------------------------*/



/*-----------------------------------------------header-------------------------------*/

.header-container{
	background: #e0e0e0;
}

.header{
	width: 100%;
	height: 70vh;
	background-image: url('../images/anjuna.jfif');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
}

.header-section{
	width: 100%
	height: inherit;
	color: white;
	position: relative;
	text-align: center;
}

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	/*added*/
	margin-top: 15%;
}

.header-buttons a{
	border: 1px solid #fff;
	border-radius: 100px;
	margin: 0px 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}

.header-buttons a:hover{
	color: #50d1c0;
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
	font-size: 1.5rem;
	padding: 10px 0px;
	color: white;
	margin-top: -20px;
}

.center-div h1{
	font-size: 3rem;
	padding: 10px 0px;
	color: white;
}























