/*-----------------------------------------------navbar-------------------------------*/



/*------------------------------clients cards and carousel-------------------------------------------*/

.happyClients{
	width: 100%;
	height: 100vh;
	padding: 80px 0;
}

.box{
	text-align: center;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
	border-radius: 2px;
	transition: 0.3s ease;
}

.box:hover{
	background-color: #16c9f6; 
	color: white;
}

.box:hover p{
	color: #fff;
}

.carousel-indicators{
	position: absolute;
	right: 0;
	bottom: -60px!important;
}

.carousel-indicators li{
	background-color: #16c9f6!important;
}

.box a{
	position: relative;
}

.box a img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 20px; 
}

.box a:after{
	content: "\f10d";
	font-family: FontAwesome;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: linear-gradient(to right,#1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
	color: white;
	position: absolute;
	top: 120%;
	left: 80%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.box h1{
	font-size: 18px;
	font-size: 700;
	color: #000;
	margin-bottom: 10px;
}

.box h2{
	font-size: 13px;
	font-weight: 400;
	color: #666666;
	margin-bottom: 20px;
}
