html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif; 
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;	
}

li{
	list-style: none;
}

p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}

/*--------------------------------------------------- navbar ----------------------------------------------------*/
.drug-logo img{
	width: 180px;
	height: 40px;
}
/*--------------------------------------------------- Find drugs header ----------------------------------------------------*/

/*--------------------------------------------------- carousel ----------------------------------------------------*/


/*--------------------------------------------------- Serach drugs ----------------------------------------------------*/
	
/*--------------------------------------------------- Three div section ----------------------------------------------------*/

/*---------------------------------------------------  main info ----------------------------------------------------*/
.item img{
	width: 200px;
	height: 200px;	
}
.item p{
	display: inline;

}
/*---------------------------------------------------  Mobile app ----------------------------------------------------*/

/*---------------------------------------------------  Footer ----------------------------------------------------*/
.logo img{
	width: 80px;
	height: 80px;	
}
