body{
	font-family: 'Playfair Display', serif!important;
}

/*-----------------------------------------------navbar-------------------------------*/



/*-----------------------------------------------header-------------------------------*/

.header-container{
	background: #e0e0e0;
}

.header{
	width: 100%;
	height: 70vh;
	background-image: url('../images/anjuna.jfif');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
}

.header-section{
	width: 100%
	height: inherit;
	color: white;
	position: relative;
	text-align: center;
}

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	/*added*/
	margin-top: 15%;
}

.header-buttons a{
	border: 1px solid #fff;
	border-radius: 100px;
	margin: 0px 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}

.header-buttons a:hover{
	color: #50d1c0;
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
	font-size: 1.5rem;
	padding: 10px 0px;
	color: white;
	margin-top: -20px;
}

.center-div h1{
	font-size: 3rem;
	padding: 10px 0px;
	color: white;
}

/*------------------------------------------------ three div section ----------------------------------------*/
.pricing{
	width: 100;
	padding: 50px;
	position: relative;
}

.pricing:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	z-index: -1;
	background: #e0e0e0; 	
}

.money{
	font-size: 40px;
	line-height: 1;
	color: #606060;
}

.card{
	transition: 0.4s ease;
}

.card-header{
	font-size: 1.6rem;
	font-weight: bold;
	background: #fff!important;
	padding: 25px 9!important;
}

.card-body{
	padding: 30px 0!important;
}

.card-body li{
	margin: 10px 0;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	color: #606060; 
}

.card-footer{
	background: white!important;
	padding: 30px 0px!important;
}

.card-footer a{
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0px 5px;
	padding: 12px 35px;
	outline: none;
	color: #50d1c0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}

.card:hover .card-footer a{
	color: #fff;
	background: #50d1c0;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.card:hover .card-header, .card:hover .money{
	color: #50d1c0;
}

.card-second{
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}


























